.modal {
	position: fixed;
	z-index: 5;
	background-color: rgba(156, 155, 181, 0.94);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 36px;
	opacity: 0;
	visibility: hidden;
	transform: scale(1.2);
	transition: all .3s ease-out;
	overflow-y: scroll;
	max-height: 100%;


	&--is-visible {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&__close {
		font-family: 'Montserrat', sans-serif;
		position: absolute;
		top: 15px;
		right: 15px;
		font-size: 1rem;
		transform: scaleX(1.2);
		transform-origin: 100% 0;
		color: $mainBlue;
		cursor: pointer;
		line-height: 1.5;
		font-size: 1.1rem;
	}
	
	
}

ul {
	position: absolute;
	right: 2rem;
	overflow: scroll;
	max-height: 95%;
}

.menu {
	display: block;
	color: #fff;
	position: fixed;
	left: 3rem;
	top: 50%;
	transform: translateY(-50%);
	border-right: 1px solid #fff;
	width:16%;

}

li {
	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	text-align: left;
	line-height: 1.4;
}

.container {

	display: flex;
	flex-direction: column;


	&__item {
		margin: 10px 4rem;
		width: 24rem;
		height: 14rem;
		background-color: #000;
		display: inline-flex;
		border: 1px solid #fff;
		overflow: scroll;

	}

	
}