.primary-nav {


	&--pull {
		float: right;
	}

	ul {
		margin: 0;
		padding: 0;

	}

	li {
		list-style: none;
		float: left;
		padding-right: 20px;
	}

	a {
		color: #fff;
		font-weight: 300;
		text-decoration: none;
		padding: 15px 0;
	}

}